@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  /* Add other font properties if needed */
}

body {
  font-family: "Gilroy", sans-serif;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;

  padding: 6px 12px;
  cursor: pointer;
}